.message-box-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  gap: 0.5rem;

  &.non-user {
    flex-direction: row;
  }

  &.user {
    flex-direction: row-reverse;
  }

  .message-box {
    border-radius: 1.2rem;
    justify-content: flex-start;

    min-width: max(10%, 10rem);
    max-width: min(70%, 80rem);
    padding: 0.5rem 1rem;

    position: relative;

    &.non-color {
      background-color: none;
    }

    &.non-user {
      background-color: lightgrey;
    }

    &.user {
      background-color: var(--primary-backround-color);
    }
  }

  .action-menu {
    transform: translateY(25%);
    position: absolute;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}

@keyframes typing {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.typing-indicator {
  font-size: 1.5em;
  &::after {
    content: "";
    animation: typing 1s steps(3, end) infinite;
  }
}
