.badge {
  background-color: none;
  max-width: 120px;
}

.image-box {
  max-height: 120px;
  width: 120px;
  height: auto;
  overflow: hidden;
  border-radius: 0.6rem;

  &.huge {
    max-height: 240px;
    width: 240px;
    cursor: pointer;
  }
}

@keyframes popOut {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop-out {
  animation: popOut 0.3s ease-out;
}
