.sidebar-container {
  width: min(15%, 20rem);
  // max-width: min(10%, 10rem);
  height: calc(100% - 4rem) !important;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  background-color: var(--primary-backround-color);

  gap: 2rem;
}
