.sidebar-container {
  width: min(15%, 20rem);
  // max-width: min(10%, 10rem);
  height: calc(100% - 4rem) !important;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  background-color: var(--primary-background-color);

  gap: 2rem;

  > :not(:first-child),
  > :not(:last-child) {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
  }

  > :first-child,
  > :last-child {
    flex: 0 1 auto;
  }
}
