.sidebar-container {
  width: 20rem;
  height: calc(100% - 4rem) !important;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  background-color: var(--primary-backround-color);

  gap: 2rem;
}
