.badge {
  background-color: none;
  max-width: 100%;
}

.image-box {
  max-height: 60px;
  max-width: 100%;
  word-break: break-all;

  text-overflow: ellipsis;
  height: auto;
  overflow: hidden;

  background-color: var(--secondary-background-color);
  padding: 10px;
  border-radius: 10px;

  &.huge {
    text-align: right;
  }
}
