.chat-area-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 12rem);
  gap: 0.5rem;
  padding: 0rem 4rem 4rem 4rem;
  background-color: var(--secondary-backround-color);
}
