.chat-area-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 4rem);
  margin: 4rem 0rem;
  background-color: var(--secondary-backround-color);

  .loading-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .chat-message-box-container {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 0.5rem;

    .scroll-to-bottom {
      width: max-content;
      margin-left: auto;
      position: sticky;
      bottom: 0;
      right: 0;

      &.hidden {
        visibility: hidden;
      }
    }
  }

  .chat-input-container {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .chat-input {
      max-height: 30vh;
      padding: 8px 12px;
      border-radius: 1.4rem;
      width: min(max(50%, 600px), 80%);
      display: flex;
      flex-direction: row;

      > input,
      textarea {
        overflow-y: auto !important;
        max-height: 100%;
      }

      .input-adornment {
        align-self: flex-end;
      }
    }
  }
}
