.attached-container {
  max-height: 120px !important;
  width: 400px !important;
  overflow-y: scroll;
  padding: 0.5rem 0.5rem !important;
  margin: 1rem 1rem 1rem -150px;

  overflow-x: hidden;

  width: 100%;
  background: #0000000f;
}
